.A{
    float: left;
}
.header{
    margin-left: 120px;
    padding: 15px;
    background-color: lightcyan;
    text-align: center;
}
.B{
    text-align: center;
    background-color: rgb(175, 238, 217);
}
#underline{
    margin: 0px;
    list-style-type: none;
    display: -webkit-inline-flex;
    padding: 8px;
    text-align: initial;
}
.C{
    float: left;
    height: 420px;
}
.D{
    background-color:lightcyan;
}
.E{
    padding: 20Px;
    background-color: lightcyan;
}
.F{
    background-color:lightcyan;
}
.G{
    padding: 20Px;
    background-color: lightcyan;    
}
.H{
    background-color: lightcyan;
}
.I{
    padding: 13px;
    background-color: lightcyan;   
}
.J{
    background-color: lightcyan;
    margin-block-end: 1px;
}

.flex{
    float: left;
    border-collapse: collapse;
    border-spacing: 1px;
}
.L{
     width:401px;
     height: 433px;
}
.L th{
    text-align: right;
    padding: 8px;
    background-color: brown;
}

